.filter-controller {
  display: grid;
  grid-template-rows: 1fr fit-content(100%);
  border: 1px solid black;
  border-radius: 5px;
}

.filter-controller-settings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  padding: 10px;
}

.filter-controller-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 0;
}

.form-tags {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.select-tags-wrapper {
  border: 1px solid black;
}

.select-tags {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-tags li {
  width: 100%;
}

.tag-input {
  border: none;
  width: 100%;
  outline: none;
}

.search-tags {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
}

.found-tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
  width: fit-content(100%);
  border: 1px solid black;
  border-radius: 5px;
}

.remove-tag {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  background-color: transparent;
  font-weight: bold;
  margin: 0;
}

.remove-tag:hover {
  background-color: #000;
  color: #fff;
}

