<form class="filter-controller" [formGroup]="filterForm" (ngSubmit)="apply()">
  <div class="filter-controller-settings">
    <fieldset class="filter field">
      <legend>Filter by</legend>
      <div>
        <input type="checkbox" id="no-comments" formControlName="noComments" value="no-comments">
        <label for="no-comments">No comments</label>
      </div>
    </fieldset>
    <fieldset class="sort field">
      <legend>Sort by</legend>
      <div>
        <input type="radio" id="newest" formControlName="sort" value="newest" required>
        <label for="newest">Newest created</label>
      </div>
      <div>
        <input type="radio" id="highest-votes" formControlName="sort" value="highest-votes" required>
        <label for="highest-votes">Highest votes</label>
      </div>
    </fieldset>
    <fieldset class="tags field">
      <legend>Tagged with</legend>
      <div>
        <input type="radio" id="followed-tags" formControlName="followedTags" value="followed-tags" required>
        <label for="followed-tags">Followed tags</label>
      </div>
      <div>
        <input type="radio" id="insert-tags" formControlName="followedTags" value="insert-tags" required>
        <label for="insert-tags">Insert tags</label>
      </div>
      <div class="form-tags">
        <label for="tags">Tags</label>
        <span class="select-tags-wrapper">
          <ul class="select-tags">
            <li class="tag" *ngFor="let tag of tags">
              <span>{{ tag }}</span>
              <button type="button" class="remove-tag"  (click)="removeTag(tag)">X</button>
            </li>
            <li>
              <input type="text" id="tags" class="tag-input" formControlName="tagsInput" placeholder="Add a tag" (keyup)="searchTags($event)"/>
            </li>
          </ul>
        </span>
      </div>
    </fieldset>
  </div>
  <div class="separator"></div>
  <div class="filter-controller-buttons">
    <button type="submit" class="button">Apply</button>
    <button type="reset" class="button" (click)="cancel()">Cancel</button>
  </div>
</form>
