main {
  width: 100%;
  height: auto;

  padding: 1.5rem 2.75rem;

  box-shadow: inset 0 0 5rem 1rem var(--color-accent-orange-lightest);

  background-color: var(--color-background-light);

  /* grid */
  display: grid;
  grid-template-areas:
    "heading heading heading heading heading heading"
    "tags tags tags tags tags tags"
    "posts posts posts posts posts top-tags";
  align-items: start;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.page-heading {
  grid-area: heading;

  width: auto;
  height: 100%;

  color: var(--color-text-main);
  opacity: 75%;
  font-size: 1.15rem;
}

#trending-tags {
  grid-area: tags;

  height: 100%;
  width: auto;

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#trending-posts {
  grid-area: posts;
}

#popular-tags {
  grid-area: top-tags;
}

h4 {
  width: auto;
  height: 100%;

  font-size: 0.95rem;
  color: var(--color-accent-green-light);

  align-self: center;

  /* flexbox */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}



.flex-row {
  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}