<div class="vote-box">
  <div class="vote">
    <img ngSrc="/assets/upvote-icon.svg" class="up-vote" (click)="upvote()" [ngClass]="{'clicked' : isUpvotedOrDownvoted === 1}"
         height="36" width="36"  alt="upvote button"/>
    <div class="vote-count">{{ voteCount }}</div>
    <img ngSrc="/assets/upvote-icon.svg" class="down-vote" (click)="downvote()" [ngClass]="{'clicked' : isUpvotedOrDownvoted === -1}"
         height="36" width="36"  alt="downvote button"/>
  </div>
  <img ngSrc="/assets/save-icon.svg" class="save" (click)="save()" [ngClass]="{'clicked' : isSaved}"
       height="36" width="36"  alt="save button"/>
</div>
