.vote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  width: 50px;
  height: 150px;
}

.svg-icon {
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.clicked {
  filter: invert(26%) sepia(73%) saturate(7132%) hue-rotate(354deg) brightness(90%) contrast(126%);
}

.vote-count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-icon {
  fill: #ccc;
  width: 36px;
  height: 36px;
}
