.vote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  width: 50px;
  height: 150px;
}

.svg-icon {
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.down-vote {
  transform: rotate(180deg);
}

.clicked {
  filter: invert(26%) sepia(73%) saturate(7132%) hue-rotate(354deg) brightness(90%) contrast(126%);
}

.vote-count {
  padding: 0;
  vertical-align: middle;
  line-height: 50px;
  font-size: 50px;
  height: 50px;
  flex: 1 0 0;
}

.save-icon {
  fill: #ccc;
  width: 36px;
  height: 36px;
}

.extras {
  display: block;
  height: 36px;
  width: 36px;
  line-height: 18px;
}

.extras:hover {
  fill: #aaa;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown:hover span {
  background-color: #aaa;
}

.show {
  display: block;
}
