.nav-list {
  width: 100%;
  height: 100%;

  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0.07em;

  color: var(--color-text-light);

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  width: auto;
  height: 100%;

  padding: 0 0.75em;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  color: var(--color-primary-main);
  text-shadow: 0 0 1px var(--color-primary-light);
}

.nav-link:focus {
  color: var(--color-accent-green-dark);
}

.selected-link {
  color: var(--color-accent-green-dark);
  border-bottom: 1px dashed var(--color-accent-green-dark);
}

.selected-link:hover {
  color: var(--color-accent-orange-dark);
  text-shadow: 0 0 1px var(--color-accent-green-dark);
}

app-search-bar {
  width: 90%;
  height: 100%;

  justify-self: center;
  align-self: center;
}