<header>

  <nav>

    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tags">Tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
    </ul>

    <div class="search-bar" role="search">
      <input type="search" />
      <a href="#">
        <img src="src/assets/icons/magnifying-glass-solid.svg" alt="">
      </a>
    </div>

    <div class="button">
      <button type="button">Log-in</button>
    </div>

  </nav>

</header>