main {
  width: 100%;
  min-height: 100%;
  height: auto;

  padding: 1.5rem 2.75rem;

  box-sizing: border-box;

  box-shadow: inset 0 0 2.5rem 0.25rem var(--color-accent-orange-lightest);

  background-color: var(--color-background-light);

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1rem;
}

.page-heading {
  /* grid-area: heading; */

  width: auto;
  height: 100%;

  color: var(--color-text-main);
  opacity: 75%;
  font-size: 1.15rem;
}

app-content-display {
  width: 100%;
  height: auto;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#all-tags {
  /* grid-area: tags; */
}