<form class="search-bar" [formGroup]="searchForm" (ngSubmit)="search()" role="search">

  <div class="flex-column">

    <input type="search" placeholder="Search..." formControlName="search" />

    <div class="pop-up" [ngClass]="{'pop' : searchStatus}">

      <div class="text-annotation">
        <b>"text" </b>
        search within post title or text
      </div> <!-- .text-annotation -->

      <div class="tag-annotation">
        <b>[tag] </b>
        search withing a tag
      </div> <!-- .tag-annotation -->

    </div> <!-- .pop-up -->

  </div>

  <button type="submit">
    <img src="./assets/icons/magnifying-glass-solid.svg" alt="">
  </button>

</form> <!-- .search-bar -->