.comment {
  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0.3rem 0.5rem;

  background-color: var(--color-accent-green-lightest);

  border: 2px dashed var(--color-accent-green-main);
  border-radius: 0.5rem;

  text-align: justify;

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-entry {
  width: 100%;
  height: fit-content;

  margin: 0;
  padding: 0;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.comment-content {
  margin: 0;
  padding: 0;
}

.comment-content p {
  font-size: 1.05rem;

  color: var(--color-accent-green-dark);
}

.comment-meta {
  width: 100%;
  height: fit-content;

  margin: 0;
  padding-top: 0.5rem;

  /* border-top: 1px dashed var(--color-accent-green-dark); */

  font-size: 0.75em;
  color: var(--color-accent-green-main);

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-creator {
  text-decoration: none;

  color: var(--color-accent-orange-main);
}

.post-creator:hover {
  border-bottom: 1px dashed var(--color-accent-orange-dark);

  color: var(--color-accent-orange-dark);
}