<div class="comment">

  <div class="comment-entry">

    <div class="comment-content">
      <p>
        {{ comment.comment }}
      </p>
    </div> <!-- .comment-content -->

    <div class="comment-meta">

      <p class="by-user">
        Posted by
        <a href="/users/{{ comment.createdBy }}" class="post-creator"> {{ comment.createdBy }} </a>
      </p>

      <p class="date-time">
        Posted on {{ commentDate }}
      </p>

      <p class="edit-time" *ngIf="lastEditDate">
        Last edit on {{ lastEditDate }}
      </p>

    </div> <!-- comment-meta-->

  </div> <!-- .comment-entry -->

  <app-vote-comment [id]="comment.id"></app-vote-comment>

</div> <!-- .comment -->