<section class="content-wrapper" [class.inline]="type === 'inline'" [class.dropdown]="type === 'dropdown'">

  <div class="content-heading">
    <h3>
      {{ displayHeading }}
    </h3>
  </div> <!-- .content-heading -->


  <div class="content-display">

    <div *ngFor="let dataGroup of displayData" class="display-group">

      <div *ngIf="dataGroup.heading" class="group-heading">
        <h4>
          {{dataGroup.heading}}
        </h4>
      </div> <!-- group-heading -->

      <div class="group-content">

        <ng-container name="tags" *ngIf="dataGroup.type == 'tag'">

          <app-tag *ngFor="let item of dataGroup.data" [tagInfo]="parseToTag(item)"></app-tag>

        </ng-container> <!-- .tags -->


        <ng-container name="posts" *ngIf="dataGroup.type == 'post'">

          <app-post-preview *ngFor="let item of dataGroup.data" [postInfo]="parseToPost(item)"></app-post-preview>

        </ng-container> <!-- .posts -->

      </div> <!-- group-content -->

    </div> <!-- .display-group -->

  </div> <!-- .content-display -->

</section> <!-- .content-wrapper -->