/* GLOBAL for app-content-display */

.content-wrapper * {
  box-sizing: border-box;
}

.content-wrapper {
  width: 100%;
  height: fit-content;

  /* grid */
  display: grid;

  box-sizing: border-box;
}

.content-heading {
  padding: 0.3rem 0.6rem;

  background-color: var(--color-primary-light);

  border: 2px solid var(--color-primary-dark);

  /* flexbox */
  display: flex;
}

.content-heading h3 {
  align-self: center;

  color: var(--color-text-dark);
  font-size: 1rem;
  font-weight: 500;

  text-align: start;
}

.content-display {
  width: 100%;
  height: 100%;

  padding: 0.65rem;

  color: var(--color-text-darker);
  font-size: 1.1rem;

  background-color: var(--color-primary-lighter);

  border: 2px solid var(--color-primary-darker);

  /* flexbox */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 0.65rem;
}

.display-group {
  height: fit-content;

  /* grid */
  display: grid;
}

.group-heading {
  /* flexbox */
  display: flex;
}

.group-heading h4 {
  margin: 0 0 0.15rem 0;
  padding: 0;

  font-size: 0.93rem;
  color: var(--color-accent-green-light);

  align-self: center;
}

.group-content {
  width: 100%;
  height: fit-content;

  overflow: hidden;

  /* flexbox */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-wrap: wrap;
}

app-tag,
app-post-preview {
  height: fit-content;

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

app-tag {
  width: fit-content;
  /* margin-right: 0.3rem; */
}

app-post-preview {
  width: 100%;
  /* margin-bottom: 0.5rem; */
}


/* GLOBAL end*/



/* .inline start */
.content-wrapper.inline {
  /* grid */
  grid-template-columns: auto 1fr;
}

.inline .content-heading {
  width: fit-content;
  height: 100%;

  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.inline .content-display {
  /* padding: 0.5rem 0.65rem 0.5rem 0.65rem; */

  border-radius: 0 5px 5px 0;

  /* flexbox */
  flex-direction: row;
}

.inline .display-group {
  width: fit-content;

  /* margin-right: 0.75rem; */

  /* grid */
  grid-template-columns: auto 1fr;
}

.inline .group-heading {
  width: fit-content;
  height: 100%;
}

.inline .group-content {
  /* flexbox */
  flex-direction: row;

  gap: 0.35rem;
}

/* .inline end */



/* .dropdown start */

.content-wrapper.dropdown {
  /* grid */
  grid-template-rows: auto 1fr;
}

.dropdown .content-heading {
  width: 100%;
  height: fit-content;

  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}

.dropdown .content-display {
  /* padding: 0.65rem 0.5rem 0.5rem 0.65rem; */

  border-radius: 0 0 5px 5px;

  /* flexbox */
  flex-direction: column;
}

.dropdown .display-group {
  width: 100%;

  /* margin-bottom: 0.65rem; */

  /* grid */
  grid-template-rows: auto 1fr;
}

.dropdown .group-heading {
  width: 100%;
  height: fit-content;
}

/* for tags */

.dropdown .group-content:has(app-tag) {
  /* flexbox */
  flex-direction: row;

  gap: 0.35rem;
}


/* for posts */

.dropdown .group-content:has(app-post-preview) {
  /* flexbox */
  flex-direction: column;

  gap: 0.65rem;
}


/* .dropdown end */