<section class="post-preview">

  <a routerLink="/posts/{{ postId }}" class="post-link">

    <div class="post-content">

      <h3 class="post-title">
        {{ postInfo.title }}
      </h3>

      <p class="post-text">
        {{ postInfo.text }}
      </p>

    </div> <!-- .post-content -->


    <div class="post-stats">

      <div class="post-votes">

        <span class="post-vote-count">{{ votes }}</span>

        <span class="post-vote-label"> Score</span>

      </div> <!-- post-votes -->

      <div class="post-comments">

        <span class="post-comment-count">{{ commentsLength }}</span>

        <span class="post-comment-label"> Comments</span>

      </div> <!-- post-comments -->

    </div> <!-- post-stats -->

  </a> <!-- .post-link -->


  <div class="post-attributes">

    <ul class="post-tags">

      <li *ngFor="let tag of postInfo.tagNames">
        <app-tag [tagInfo]="parseStringToTag(tag)"></app-tag>
      </li>

    </ul>

    <a routerLink="/posts/{{ postId }}" class="post-link"></a>

    <div class="post-meta">
      <p>
        Posted by
        <a routerLink="/users/{{ createdBy }}" class="post-creator">
          {{ createdBy }}
        </a>
        on {{ createdAt }}
      </p>
    </div> <!-- post-meta -->


  </div> <!-- post-attributes -->

</section> <!-- .post-preview -->