.post-preview {
  display: grid;
  grid-template-columns: 1fr fit-content(100%);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.post-title a {
  text-decoration: none;
  color: dodgerblue;
}

.post-text {
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

.post-attributes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
}

.post-tag {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.post-stats {
  display: flex;
  flex-direction: column;
}



