<div class="post">
  <h2 class="title">{{ postTitle }}</h2>
  <div class="tags">
    <div class="tag" *ngFor="let tag of tags">{{ tag }}</div>
  </div>
  <app-answer></app-answer>
  <div class="button-section">
    <button class="button edit-button" (click)="onEdit()">Edit</button>
    <button class="button delete-button" (click)="onDelete()">Delete</button>
    <button class="button comment-button" (click)="onComment()">Add Comment</button>
  </div>
  <div class="answer-section">
    <app-answer *ngFor="let answerId of answers" [answerId]="answerId"></app-answer>
  </div>
</div>
