.post {
  display: flex;
  width: 50vw;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  font-size: 2em;
}

.content {
  margin: 10px 0;
  font-size: 1.1em;
}

.tags {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.tag {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8em;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.8em;
  color: #666;
}
