<div class="vote-box">
  <div class="vote">
    <img ngSrc="/assets/upvote-icon.svg" class="up-vote clickable" (click)="like()"
      [ngClass]="{'clicked' : voteStatus === 1}" height="36" width="36" alt="upvote button" />
    <div class="vote-count">{{ likes - dislikes }}</div>
    <img ngSrc="/assets/upvote-icon.svg" class="down-vote clickable" (click)="dislike()"
      [ngClass]="{'clicked' : voteStatus === -1}" height="36" width="36" alt="downvote button" />
  </div>
  <img ngSrc="/assets/save-icon.svg" class="save clickable" (click)="follow()" [ngClass]="{'clicked' : followStatus}"
    height="36" width="36" alt="save button" />
  <div class="dropdown clickable extras">
    <span class="extras clickable">...</span>
    <div class="dropdown-content" [ngClass]="{'show': clicked}">
      <div class="dropdown-item report" (click)="report()">Report</div>
      <div class="dropdown-item edit" (click)="edit()">Edit</div>
      <div class="dropdown-item delete" (click)="delete()">Delete</div>
    </div>
  </div>
</div>