.vote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  width: 50px;
  height: fit-content(100%);
}

.svg-icon {
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.down-vote {
  transform: rotate(180deg);
}

.clicked {
  filter: invert(26%) sepia(73%) saturate(7132%) hue-rotate(354deg) brightness(90%) contrast(126%);
}


.vote-count {
  padding: 0;
  vertical-align: middle;
  line-height: 50px;
  font-size: 50px;
  height: 50px;
  flex: 1 0 0;
}

.save-icon {
  fill: #ccc;
  width: 36px;
  height: 36px;
}

.extras {
  display: block;
  height: 36px;
  width: 36px;
  line-height: 18px;
}

.extras:hover {
  fill: #aaa;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  font-size: 0.8em;
  border: 1px solid #ccc;
  border-bottom: 0;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "report" "edit" "delete";
}

.dropdown:hover span {
  background-color: #aaa;
}

.show {
  display: grid;
}

.dropdown-item {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  height: 1.2em;
  padding: 5px;
  font-size: 1em;
}

.dropdown-item:hover {
  background-color: #ccc;
}

.report {
  grid-area: report;
}

.edit {
  grid-area: edit;
}

.delete {
  grid-area: delete;
}