<div class="vote-box">
  <div class="vote">
    <img ngSrc="/assets/upvote-icon.svg" class="up-vote clickable" (click)="like()"
      [ngClass]="{'clicked' : voteStatus === 1}" height="36" width="36" alt="upvote button" />
    <div class="vote-count">{{ likes - dislikes }}</div>
    <img ngSrc="/assets/upvote-icon.svg" class="down-vote clickable" (click)="dislike()"
      [ngClass]="{'clicked' : voteStatus === -1}" height="36" width="36" alt="downvote button" />
  </div>
  <button type="button" class="button delete" (click)="delete()">Delete</button>
</div>
