<section class="login-page">

  <h2 class="header">
    Log-in
  </h2>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="form-field">

      <label for="username">
        Username
      </label>

      <input type="text" formControlName="username" class="form-input" id="username" aria-describedby="usernameHelp"
        placeholder=" " />

      <!-- <small id="usernameHelp" class="form-text text-muted">
        We'll never share your password with anyone else.
      </small> -->

    </div> <!-- .form-field -->

    <div class="form-field">

      <label for="password">
        Password
      </label>

      <input type="password" formControlName="password" class="form-input" id="password" placeholder=" " />

    </div> <!-- .form-field -->

    <button type="submit" class="login-button">
      Log-in
    </button>

  </form> <!-- .login-form -->

</section>