<div class="create-post">
  <div class="header">
    <h2>Create a new post</h2>
  </div>
  <div class="body">
    <form class="create-post-form" [formGroup]="postForm" (ngSubmit)="createPost()">
      <div class="form-title">
        <label for="title">Title</label>
        <input type="text" class="post-title" id="title" placeholder="Post title" formControlName="title">
      </div>
      <div class="form-text">
        <label for="text">Description</label>
        <textarea id="text" class="post-description" placeholder="Post description" formControlName="text"></textarea>
      </div>
      <div class="form-tags">
        <label for="tags">Tags</label>
        <span class="select-tags-wrapper">
          <ul class="select-tags">
            <li class="tag" *ngFor="let tag of tags">
              <span>{{ tag }}</span>
              <button type="button" class="remove-tag"  (click)="removeTag(tag)">X</button>
            </li>
            <li>
              <input type="text" id="tags" class="tag-input" formControlName="tagsInput" placeholder="Add a tag" (keyup)="addToTags($event)"/>
            </li>
          </ul>
        </span>
      </div>
      <div class="form-buttons">
        <button type="submit" class="button">Create post</button>
      </div>
    </form>
  </div>
</div>
