.create-post {
  width: 100%;
  min-height: 100%;

  padding: 1.5rem 2.5rem;

  box-sizing: border-box;

  box-shadow: inset 0 0 2.5rem 0.25rem var(--color-accent-orange-lightest);

  background-color: var(--color-background-light);

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1rem;
}

.header {
  width: auto;
  height: 100%;

  padding-left: 0.5rem;

  color: var(--color-text-main);
  opacity: 75%;
  font-size: 1.5rem;
}

.body {
  width: 70%;
  height: 100%;

  padding: 0.65rem;

  color: var(--color-text-darker);
  font-size: 1.1rem;

  background-color: var(--color-primary-lighter);

  border: 2px solid var(--color-primary-dark);
  border-radius: 0.5rem;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 0.65rem;
}

.create-post-form {
  width: 100%;
  height: 100%;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-title {
  width: 100%;
  height: 100%;

  background-color: var(--color-accent-green-lightest);

  border: 1px solid var(--color-primary-darker);
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.form-title input {
  width: 98.5%;
  height: 99.25%;

  margin-top: 0.75%;
  padding: 0.25rem 0.35rem 0.2rem 0.35rem;

  box-sizing: border-box;

  background-color: var(--color-accent-green-lightest);

  border: 0;
  border-bottom: 1px solid var(--color-accent-orange-dark);
  border-radius: 0.25rem 0.25rem 0 0;

  font-size: 1.3rem;
  font-weight: 500;

  color: var(--color-accent-green-dark);

  align-self: center;
  justify-self: flex-end;
}

.form-title input:focus {
  outline: none;

  box-shadow: inset 0 0 5px var(--color-accent-orange-light);
}

.form-text {
  width: 100%;
  height: 100%;

  margin: 0;

  background-color: var(--color-accent-green-lightest);

  border: 1px solid var(--color-primary-darker);
  border-top: 0;
  border-radius: 0 0 0.25rem 0.25rem;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.form-text textarea {
  width: 98.5%;
  min-height: 10rem;

  margin-bottom: 0.75%;
  padding: 0.45rem 0.6rem 0 0.6rem;

  box-sizing: border-box;

  background-color: var(--color-accent-green-lightest);

  border: 0;
  border-radius: 0 0 0.25rem 0.25rem;

  font-size: 1.02rem;

  color: var(--color-accent-green-dark);

  align-self: center;
}

.form-text textarea:focus {
  outline: none;

  box-shadow: inset 0 0 5px var(--color-accent-orange-light);
}

.flex-row {
  width: 100%;
  height: 100%;

  margin-top: 0.7rem;

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-tags {
  width: fit-content;

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 0.3rem;
}

.form-tags label {
  width: fit-content;
  height: fit-content;

  cursor: pointer;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-tags label .tag-icon {
  height: 1.5rem;
  aspect-ratio: 1;

  margin-left: 0.25rem;
  align-self: center;
}

.select-tags-wrapper {
  width: 100%;
  height: 100%;

  padding: 0.35rem;

  background-color: var(--color-accent-green-lightest);

  border: 1px solid var(--color-primary-darker);
  border-radius: 0.25rem;

  overflow: hidden;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-tags {
  width: 100%;

  margin: 0;
  padding: 0;

  list-style: none;

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 0.25rem;
}

.tag {
  width: fit-content;

  margin: 0;
  padding: 0 0.35rem 0.1rem 0.5rem;

  background-color: var(--color-accent-orange-lightest);

  border: 1px solid var(--color-accent-green-dark);
  border-radius: 0.5rem;

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 0.15rem;
}

.tag span {
  font-size: 1rem;
  cursor: default;
}

.remove-tag {
  margin: 0;
  padding: 0;

  cursor: pointer;

  background-color: transparent;

  font-weight: bold;

  border: none;
  border-radius: 0.25rem;

  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remove-tag .x-icon {
  width: 1rem;
  aspect-ratio: 1;

  margin-top: 0.2rem;

  align-self: center;
}

.tag:has(.remove-tag .x-icon:hover) {
  background-color: var(--color-accent-orange-lighter);
}

.tag-input {
  width: 10rem;

  background-color: transparent;

  font-size: 1.05rem;

  border: none;
  outline: none;

  transition: width 0.4s ease-in-out 0.2s;
}

.select-tags:has(.tag) .tag-input {
  width: 5rem;
}

.form-buttons {
  width: 100%;
  height: 100%;

  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  text-align: center;
}

.form-buttons button {
  margin: 0;
  padding: 0.15rem 1rem 0.15rem 1rem;

  text-decoration: none;
  font-size: 1.05rem;

  border: 1px solid var(--color-primary-darker);
  border-radius: 5px;

  background-color: var(--color-primary-main-light);

  color: var(--color-text-light);
}

.form-buttons button:hover {
  background-color: var(--color-accent-green-light);
  box-shadow: 0 0 5px var(--color-accent-orange-dark);
}

.form-buttons button:focus {
  background-color: var(--color-accent-orange-dark);
  box-shadow: 0 0 3px var(--color-accent-green-dark);
}

/* .search-tags {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
} */

/* .found-tags {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/*.expand {*/
/*  display: inline-block;*/
/*}*/