.create-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.header {
  /* empty */
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-title {
  display: flex;
  flex-direction: column;
}

.form-text {
  display: flex;
  flex-direction: column;
}

.form-tags {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.select-tags-wrapper {
  border: 1px solid black;
}

.select-tags {
  display: inline-flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-tags li {
  width: 100%;
}

.tag-input {
  border: none;
  width: 100%;
  outline: none;
}

.search-tags {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
}

.found-tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
  width: fit-content(100%);
  border: 1px solid black;
  border-radius: 5px;
}

.remove-tag {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  background-color: transparent;
  font-weight: bold;
  margin: 0;
}

.remove-tag:hover {
  background-color: #000;
  color: #fff;
}

/*.expand {*/
/*  display: inline-block;*/
/*}*/