<main>

  <div class="flex-row">

    <h2 class="page-heading">
      All posts
    </h2> <!-- .page-heading -->

    <button *ngIf="!isExpanded" class="button" (click)="isExpanded = !isExpanded">
      Filter
    </button>

    <a class="button" routerLink="/create-post">
      Create Post
    </a>

  </div> <!-- .flex-row -->

  <div class="flex-row-content">

    <app-content-display id="all-posts" [type]="'dropdown'" [displayHeading]="numberOfPosts"
      [displayData]="allPostsByIDsDisplay"></app-content-display>

    <app-filter *ngIf="isExpanded" (cancelFilterEvent)="isExpanded = false" (applyFilterEvent)="getPostIds()"></app-filter>

  </div>

</main>
