<section class="post-page">

  <button type="button" class="go-back" (click)="goBack()">
    <img class="back-icon" src="./assets/icons/arrow-left-solid.svg" alt="Arrow to go back to posts">
  </button> <!-- back button -->


  <div class="flex-column">

    <section class="post">

      <div class="flex-row">

        <h2 class="title">
          {{ title }}
        </h2>

        <ul class="tags">

          <li *ngFor="let tag of tags">
            <app-tag [tagInfo]="tag"></app-tag>
          </li>

        </ul> <!-- .tags -->

      </div>

      <div class="text">
        <p>
          {{ text }}
        </p>
      </div> <!-- .text -->

      <div class="meta">

        <p class="by-user">
          Posted by
          <a href="/users/{{ createdBy }}" class="post-creator"> {{ createdBy }} </a>
        </p> <!-- .by-user -->

        <p class="date-time">
          Posted on {{ createdAt }}
        </p> <!-- .date-time -->

        <p class="edit-time" *ngIf="updatedAt">
          Last edit on {{ updatedAt }}
        </p> <!-- .edit-time -->

      </div> <!-- .meta -->

    </section>

    <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="onComment()">

      <textarea id="comment-textarea" class="comment-textarea" formControlName="text"
        placeholder="Add comment as {{ user }}"></textarea>

      <button type="submit" class="comment-button">
        Comment
      </button>

    </form> <!-- comment-form -->

    <div class="comment-section">

      <div class="flex-row">

        <div class="comment-section-header">

          <h3 class="comment-section-title" *ngIf="comments.length > 1">
            {{ comments.length }} Comments
          </h3>

          <h3 class="comment-section-title" *ngIf="comments.length == 1">
            1 Comment
          </h3>

          <h3 class="comment" *ngIf="comments.length == 0">
            No comments yet
          </h3>

        </div> <!-- .comment-section-header -->

        <div class="sort-buttons">

          <button (click)="sort('created')"
            [ngClass]="{'sorted': sortAttribute === 'created', 'descending': !ascendingOrDescending}">

            Created
            <img class="sort-icon" src="assets/upvote-icon.svg" alt="arrow-down" />

          </button> <!-- Created -->

          <button (click)="sort('votes')"
            [ngClass]="{'sorted': sortAttribute === 'votes', 'descending': !ascendingOrDescending}">

            Votes
            <img class="sort-icon" src="assets/upvote-icon.svg" alt="arrow-down" />

          </button> <!-- Votes -->

        </div> <!-- .sort-buttons -->

      </div>

      <div class="comment" *ngFor="let comment of comments">
        <app-comment [comment]="comment"></app-comment>
        <app-vote-comment [id]="comment.id" (deleteComment)="updateComments()"></app-vote-comment>
      </div>

    </div> <!-- comment-section -->

  </div> <!-- .flex-column -->

  <app-vote [id]="id"></app-vote>

</section>
