<main>

  <div class="flex-row">

    <h2 class="page-heading">
      All posts
    </h2> <!-- .page-heading -->

    <a class="button" routerLink="/create-post">
      Create Post
    </a>

    <button class="button" (click)="isExpanded = !isExpanded">
      Filter
    </button>

  </div> <!-- .flex-row -->

  <app-filter *ngIf="isExpanded" (cancelFilterEvent)="isExpanded = false" (applyFilterEvent)="getPostIds()"></app-filter>

  <app-content-display id="all-posts" [type]="'dropdown'" [displayHeading]="numberOfPosts"
    [displayData]="allPostsByIDsDisplay"></app-content-display>

</main>
